.contactpage .contact{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    padding: 20px ;
    padding-top: 20px;
}
.contactpage .c{
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contactpage .nameIn , .mailIn , textarea{
    width: calc(70vw - 40px);
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}
textarea{
    height: 20vh;
}
.contact .btn{
    border: none;
    border-radius:10px ;
    height: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: black;
}
.contact .btn:hover{
    box-shadow: 1px  1px 7px 5px #0004ff;;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.contact .message{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: large;
}


.contactpage img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
   
}
.contactpage img:hover{
    width: 40px;
    height: 40px;
    transform: translateZ(10px);
    transition: all 0.2s linear;
    z-index: 5;
    
}
@media only screen and (max-height:560px) {
    .c {
        flex-direction: column;
    }
    
}