.page{
    display : flex;
    flex-wrap:wrap;
    background-color: rgb(0, 0, 56);
}

    
.homepage .name{
    font-size:35px;
    font-weight: 500;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    transition: all 2s ease-in;
    
}
.homepage .name:hover{
    -webkit-text-stroke: 1px;
    cursor: pointer;
    -webkit-text-stroke-color: skyblue;
    stroke-width: 1px;
}

.social .intro .name:hover > .photo{
    transform: translateX(50vw) rotate(360deg);
    transition: transform 3s ease-in-out;    
}
.social .intro .name:hover::after .page:hover > .homepage .photo{
    transform: translateX(50vw) rotate(360deg);
    transition: transform 3s ease-in-out;    
}
 

.homepage .social{
    margin-top: 6rem;
    font-size: large;
    width: 70vw;
    height: 15vh;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.homepage .photo{
    position: fixed;
    right: 15%;
    top: 30%;
    height: 8rem;
    width: 8rem;
    border: solid 1px;
    

}
.social section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

}
.social img{
    height: 40px;
    width: 40px;
    background-color: aliceblue;
    border-radius: 50%;
    border: solid blue;
    filter: grayscale(0%);
    filter: brightness(100%);
}
.social img:hover{
    filter: grayscale(100%);
    filter: brightness(70%);
}
.image{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    padding-top:30px ;

}
.social .intro{
    font-size: 20px;
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: flex;
    justify-content: center;
}