.all {
    margin: 30px;
    display: flex;
    font-size: small;
    align-items: center;
    color: rgb(0, 204, 255);
    gap: 30px;
    flex-wrap: wrap;
}
.project1 , .project2{
    height: 12rem;
    width: 12rem;
    contain: content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.project1 header ,.project2 header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.project1 section {
    height: 9rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.project2 section{
    height: 9rem;
    width: 12rem;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.project1 footer , .project2 footer{
    text-decoration: none;
    width: 12rem;
    height: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    
}
footer a{
    text-decoration: none;
    color: black;

}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border: none;
    border-radius: 5px;
    background-color: white;
}
footer a:hover {
    background-color: black;
    color: aliceblue;
    
}
