.all {
    --blueC:rgb(17, 0, 255);
    color: aliceblue;
    display: flex;
    font-size: small;
    align-items: center;
    
    gap: 30px;
    flex-wrap: wrap;
   margin-top: 30px;
    justify-content: center;
    z-index: 0;
}

.project1,
.project2 {
    height: 15rem;
    width: 14rem;
    min-width: 12rem;
    min-height: 12.4rem;
    contain: content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:rgb(5, 0, 50);
    border-radius: 10px;
    border:none;
    backdrop-filter: blur(8px);
    z-index: inherit;
    flex-shrink:20px ;
   
}

.project1 header,
.project2 header {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
   border-bottom: dashed;
   z-index: inherit;
   

}

.project1 section {
    height: 9rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: 500;
    z-index: inherit;
}

.project2 section {
    height: 9rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: 500;
    z-index: inherit;
}

.project1 footer,
.project2 footer {
    text-decoration: none;
    width: 14rem;
    height: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 30px;

    z-index: inherit;
}

footer a {
    text-decoration: none;
    color: black;

}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border: none;
    border-radius: 5px;
    background-color: white;
}

footer a:hover {
    background-color: black;
    color: aliceblue;

}

.color {

    color: aquamarine;
}
.navbar .sidebar{
    z-index: 7;
}
.disabled {
    cursor: not-allowed;
    
}
@media only screen and (max-width:600) {
    .homepage{
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .all{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        
        
    }
    .project1,.project2{
        z-index: -1;
    }
  }